@import '../../../../../../../assets/sass/mixin.scss';


.container {
  height: 100%;
  
}

::ng-deep .custom-stepper-content{
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

h2 {
  @include titles(var(--sizeStepTitle), var(--stepTitleColor), var(--stepTitleMargin))
}