<div class="wrapper-main-stepper">
  <!-- STEPPER -->
  <mat-horizontal-stepper linear #mainStepper>
    <!-- STEPS -->
    <div *ngFor="let step of steps">
      <mat-step [stepControl]="form.controls[step.id]" >
        <ng-template matStepLabel>{{step.title}}</ng-template>
        <app-stepper (onStepsValid)='changeStep($event)'[parentStepTitle]="step.title" [steps]='step.steps$ | async' [mainForm]='form'></app-stepper>
      </mat-step>
    </div>
    <button mat-button matStepperNext>ETAPE SUIVANTE</button>
  </mat-horizontal-stepper>
</div>          