<h2 class="title">Récapitulatif</h2>

<div class="recapitulatif">
    <h3>Départ</h3>
    <div>
        <p class="adresse">Adresse</p><p> : 95 av. des grésillons</p>
    </div>
    <p>Appartement</p>
    <p>3ème étage</p>
    <p>Avec ascenseur (6 pers.)</p>
</div>

<div class="recapitulatif">
    <h3>Départ</h3>
    <div>
        <p class="adresse">Adresse</p><p> : 95 av. des grésillons</p>
    </div>
    <p>Appartement</p>
    <p>3ème étage</p>
    <p>Avec ascenseur (6 pers.)</p>
</div>


<h2 class="title">Volume total à déménager</h2>

<div class="volume-total">
    <p>88 m3</p>
</div>

<h2 class="title">Estimation</h2>

<div class="estimation">
    <h3>Économique</h3>
    <p>1000-1500€</p>
</div>

<div class="estimation">
    <h3>Confort</h3>
    <p>1000-1500€</p>
</div>

<div class="estimation">
    <h3>Premium</h3>
    <p>1000-1500€</p>
</div>


<h2 class="title">Vous avez des doutes sur votre estimation ?</h2>

<div class="call">
    <input type="button" value="Me faire appeler par un conseiller">
    <img src="../../../../../../../assets/icons/phone.svg" alt="telephone">
</div>

