<!--<div class="wrapper-stepper">
  <p>stepper works!</p>

  <mat-horizontal-stepper linear #stepper>

    <div *ngFor="let step of steps">
      <mat-step [stepControl]="mainForm.controls[step.parentStep]['controls'][step.id]" >
        <ng-template matStepLabel>{{step.title}}</ng-template>
        <app-dynamic-form [step]='step' [mainForm]='mainForm'></app-dynamic-form>
        <button mat-button matStepperNext [disabled]="!mainForm.controls[step.parentStep]['controls'][step.id].valid" (click)="isValid(step)">ETAPE SUIVANTE</button>
      </mat-step>
      
    </div>
    
  </mat-horizontal-stepper>
  
</div>  -->

<!--
<div class="wrapper-stepper">
  <p>stepper works!</p>
   
  <cdkStepper linear [type]="horizontal" #stepper>
     
    <div *ngFor="let step of steps">
      <cdk-step [stepControl]="mainForm.controls[step.parentStep]['controls'][step.id]" >
        <ng-template cdkStepLabel>{{step.title}}</ng-template>
        <app-dynamic-form [step]='step' [mainForm]='mainForm'></app-dynamic-form>
        <button cdkStepperNext [disabled]="!mainForm.controls[step.parentStep]['controls'][step.id].valid" (click)="isValid()">ETAPE SUIVANTE</button>
      </cdk-step>
      
    </div>
    
  </cdkStepper>
  
</div>
-->

<app-custom-stepper>
  <div *ngFor="let step of steps">
    <cdk-step [stepControl]="mainForm.controls[step.parentStep]['controls'][step.id]" >
      <ng-template cdkStepLabel>{{step.title}}</ng-template>
      <app-dynamic-form [step]='step' [mainForm]='mainForm'></app-dynamic-form>
      <button cdkStepperPrevious  (click)="isValid()">ETAPE PRECEDENTE</button>
      <button cdkStepperNext [disabled]="!mainForm.controls[step.parentStep]['controls'][step.id].valid" (click)="isValid()">ETAPE SUIVANTE</button>
    
    </cdk-step>
  </div>
</app-custom-stepper>