

<app-custom-stepper [parentStepTitle]='parentStepTitle' #cdkStepper>
  <div *ngFor="let step of steps">
    <cdk-step *ngIf="step.type === 'question'" [stepControl]="mainForm.controls[step.parentStep]['controls'][step.id]">
      <div>
        <h2>{{step.title}}</h2>
        <app-dynamic-form [step]='step'  [mainForm]='mainForm'></app-dynamic-form>
        <button class="previous"   (click)="previousStep(mainForm.controls[step.parentStep]['controls'][step.id])"><img src="../../../../../assets/icons/precedent.svg" alt="precedent"></button>
      </div>
      <div class="next-step-container">
        <button class="next-step" (click)="nextStep(mainForm.controls[step.parentStep]['controls'][step.id],step.id)">ETAPE SUIVANTE</button>
      </div>
    </cdk-step>
    <cdk-step *ngIf="step.type === 'summary' ">
      <app-summary-step *ngIf="quote" [quote]='quote'></app-summary-step>
      <button class="previous" (click)="previousStep(mainForm.controls[step.parentStep]['controls'][step.id])"><img src="../../../../../assets/icons/precedent.svg" alt="precedent"></button>
    </cdk-step>
  </div>
</app-custom-stepper>