@import '../../../../../assets/sass/mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



.wrapper-stepper{
  height: 100%;
  background-color: steelblue;
}


ng-template {
  @include titles(var(--sizeStepSubtitle), var(--stepSubtitleMargin));
}

h2 {
  @include titles(var(--sizeStepSubtitle),black,  var(--stepSubtitleMargin));
}

.next-step {
  height: 50px;
  width: 100%;
  background-color: var(--secondColor);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border-radius: 2px;
}

.next-step:hover {
  cursor: pointer;
}

.previous {
  position: absolute;
  width: 6px;
  height: 12px;
  top: 2.5vh;
  left: 2vw;
}

.previous:hover {
  cursor: pointer;
}