/*-----------------------------------------------
                CSS RESET
-----------------------------------------------*/

@import './assets/sass/reset.css';


/*-----------------------------------------------
                   Variables
-----------------------------------------------*/

:root 
{   
    // COLOR 
    --mainColor: #3E73FA;
    --secondColor: #2EC7AB;
    --stepTitleColor: #BFBFBF;

    // FONT
    --montserrat: "Montserrat", sans-serif;

    // FONT SIZE 
    --questionMarginTop: 16px;
    --stepSubtitleMargin: 8px;
    --stepTitleMargin: 0px;
    --inputHeight: 40px;
    --sizeInputTitle: 14px;
    --sizeStepSubtitle: 18px;
    --sizeStepTitle: 14px;

    // SPACING 
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 32px;
    --spacing-l: 48px;
    --spacing-xl: 96px;
}

