/*-----------------------------------------------
                CSS RESET
-----------------------------------------------*/

@import './assets/sass/reset.css';


/*-----------------------------------------------
                   Variables
-----------------------------------------------*/

$linesColor: #dbdbdb;
$categoryTitleColor: #686868;
$categoryEntityColor: #3F3F3F;


:root 
{
    --mainColor: #3E73FA;
    --secondColor: #2EC7AB;
    --stepTitleColor: #BFBFBF;
    --questionMarginTop: 16px;
    --stepSubtitleMargin: 8px;
    --stepTitleMargin: 0px;
    --inputHeight: 40px;
    --sizeInputTitle: 14px;
    --sizeStepSubtitle: 18px;
    --sizeStepTitle: 14px;
}

