@import '../../../../../../../assets/sass/mixin.scss';


label {
    @include titles(var(--sizeInputTitle));
}

.question {
    margin-top: var(--questionMarginTop);
}

.disabled {
    display: none;
}

.switch-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}