<div class="form" [formGroup]="form" [ngClass]='{"disabled":question.disabled}'>
  <!-- QUESTION LABEL -->
  <label [attr.for]="question.key" >{{question.label}}</label>
  <!-- QUESTION INPUT -->
  <div [ngSwitch]="question.controlType">
    <app-input-dropdown [question]="question"  [form]='form' *ngSwitchCase="'dropdown'"></app-input-dropdown>
    <app-input-text [question]="question"  [form]='form' *ngSwitchCase="'textbox'"></app-input-text>
    <app-input-textarea [question]="question" [form]='form' *ngSwitchCase="'textarea'"></app-input-textarea>
    <app-input-switch (updatedSwitchRelated)="updateRelatedFromSwitch($event)" [question]="question" [form]='form' *ngSwitchCase="'switch'"></app-input-switch>
    <app-input-check-box [question]="question" [form]='form' *ngSwitchCase="'checkbox'"></app-input-check-box>
  </div>
  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>

