@import '../../../../../../../assets/sass/mixin.scss';


.question {
    margin-top: var(--questionMarginTop);

    &--label {
        @include titles(var(--sizeInputTitle));
    }
}

.disabled {
    display: none;
}

.switch-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


