@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@mixin formInput($height: 0) {
    height: $height;
    padding: 12px 14px;
    border: 0.5px solid #868686;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: white;
};



@mixin titles($size: 0, $color: black, $marginTop: 0) {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: $size;
    color: $color;
    margin-top: $marginTop;
}


@mixin stepSubtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

@mixin inputText {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}